/* -------------
      general
----------------*/
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Abel', sans-serif;
  font-weight: normal;
  color: #000
}

/* fuentes */
@font-face {
  font-family: KelsonBold;
  src: url(../fonts/kelsonSans/Kelson_Sans_Bold.otf) format("opentype");
}
@font-face {
  font-family: KelsonRegular;
  src: url(../fonts/kelsonSans/Kelson_Sans_Regular.otf) format("opentype");
}

.text-black {
  color: #000
}
.text-white {
  color: #fff
}
.text-lightblue {
  color: #23afe1
}
.text-gray {
  color: #666
}

.kelsonBold {
  font-family: KelsonBold;
}
.kelsonRegular {
  font-family: KelsonRegular;
  font-weight: 600;
}
.kelsonLight {
  font-family: KelsonRegular;
  font-weight: 300;
}

/* fondos */
.bg-blue {
  background: #1787B7;
}
.bg-lightblue {
  background: #23AFE2;
}
.bg-black {
  background: #000;
}
.bg-white {
  background: #fff;
}
.bg-lead {
  background: #2C2B30;
}
.bg-gray {
  background: #333;
}
.bg-lightgray {
  background: #545454;
}

/* placeholders */
.ph-gray{
  background: #929493
}
.ph-lightgray{
  background: #ADADAD
}
.ph-darkgray{
  background: #848685
}
.ph-slide{
  background: #BCBABB
}
.ph-profile{
  background: #A6A4A5
}

hr {
  border-color: black;
}

a.nostyle {
  color: inherit;
}

a:hover.nostyle {
  text-decoration: none;
  opacity:0.9;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.main-wrapper {
  height: 70vh;
  position: relative;
}

.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main h1{
  font-family: kelsonBold;
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.6rem;
}

.main h3{
  text-align: center;
  margin-top: 0;
}

/* elementos generales */
.tag {
  background: #23AFE2;
  color: #fff;
  font-family: kelsonBold;
  border-style: none;
  border-radius: 0.3rem;
  font-size: 0.75em;
  letter-spacing: 1px;
  padding: 0.4rem 1.8rem;
  text-align: center;
}

.tag-sized {
  width: 15rem;
}

.box {
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

/* -------------
    NAVEGACION 
----------------*/
.navbar-custom {
  z-index: 1;
  color: #fff;
  font-family: kelsonRegular;
  padding: 2.05em 4.3em 0em 4.3em;
  font-weight: bolder;
}

.navbar-regular {
  padding: 2.05em 4.3em;
  background: #2C2B30;
}

.navbar-toggler {
  font-weight: bolder;
  color: #fff
}

.navbar-custom a {
  color: #fff;
}

.nav-item a:hover {
  text-decoration: none;
  opacity:0.7;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.nav-item{
  line-height: 4.2;
}

.navbar-nav {
  margin-bottom: auto;
}

.navbar-nav > li {
  margin-right: 22px;
  letter-spacing: 1px;
}

.navbar-icon {
  margin-right: 5px;
}

#menu .navbar-icon {
  margin-right: 2px;
}

.btn-none {
  background: none;
  border-style: none;
  color: #fff;
  font-weight: bolder;
  outline: none !important;
  border: 0 !important;
  cursor: pointer;
}

.btn-none:hover {
  opacity:0.7;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2C2B30;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-top: 7rem;
}

.sidenav  > a {
  padding: 1rem 1rem 1rem 3rem;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  opacity:0.7;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.sidenav .closebtn {
  position: absolute;
  top: 3rem;
  right: 1rem;
  font-size: 3rem;
  margin-left: 4rem;
}

.sidenav-social {
  padding-left: 3rem;
  padding-top: 1rem;
  display: none;
}

.sidenav-social a{
  padding-right: 1rem;
}

/* selector de lenguaje */
.trp-language-switcher {
  margin: 0 !important;
  width: auto !important;
}

.trp-language-switcher > div {
  padding: 0 !important;
  border: none !important;
  background-image: none !important;
  background-color: transparent !important;
}

.trp-language-switcher > div > a {
  display: inline !important;
  padding: 0px !important;
  visibility: visible;
  color: #fff !important;
}

.trp-language-switcher > div > a:hover {
  background: transparent;
}

.trp-language-switcher > div > a.trp-ls-shortcode-disabled-language {
  cursor: default;
  opacity: 0.6;
}

.trp-ls-shortcode-language > a {
  opacity: 1;
  display: inline !important;
  visibility: visible !important;
}
/* too many tries */
.trp-ls-shortcode-language{ 
  display: inline !important;
  position: relative !important;
  visibility: visible !important
}

.trp-ls-shortcode-current-language {
  opacity: 0;
  display: none !important;
  position: absolute !important;
  visibility: hidden !important;
}

.trp-language-switcher .trp-ls-shortcode-language {
  overflow: visible !important;
  width: auto !important;
}

/* -------------
     SECCIONES
----------------*/
section h1 {
  color: #fff;
  font-family: KelsonRegular;
  font-weight: 600;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  font-size: 3em;
  letter-spacing: 0.05rem;
}

section h3 {
  font-family: KelsonRegular;
  font-weight: 600;
  text-align: center;
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
  font-size: 1.6em;
  letter-spacing: 0.05rem;
}

section h3 a {
  color: #000;
}

section h3 a:hover {
  text-decoration: none;
  color: #23afe1;
  opacity:0.7;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

section h3 .active {
  color: #23afe1
}

.fullvh {
  height: 100vh;
}

.almostfullvh {
  height: 70vh;
}

.section-content {
  height: calc(100% - 9.5rem);
}

/* THUMBNAILS DE PROYECTOS, PARTICIPACIONES Y SOLUCIONES */
.thumb {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thumb a {
  background: #f3f3f3;
  display: block;
  color: #000;
  width: 100%;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem;
  font-size: 1.2em;
}

.thumb a:hover {
  text-decoration: none;
  background: #fff;
  color: #333;
}

/* -------------
       HOME 
----------------*/
/* HERO */
#cover {
  height: 100vh;
  position: relative; 
  background: rgba(0, 0, 0, 0.5);
}

.hero {
  height: 100vh;
  position: relative;
}

/* carousel del hero */
.carousel-item-big {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-item-big span {
  height: 100vh;
}

.carousel-caption {
  padding-left: 7%;
  padding-right: 7%;
  left: 0;
  right: 0;
  top: 57%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel-caption h5 {
  font-size: 4.5em;
  font-family: kelsonBold;
  letter-spacing: 1px;
}

.carousel-caption p {
  letter-spacing: 1px;
  font-weight: bolder;
  padding-left: 1rem;
  padding-right: 1rem;
}

.arrow {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 40px;
  bottom: 55px;
}

.arrow a:hover {
  opacity:0.7;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

/* ABOUT */
#quote {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#quote p {
  font-size: 1.1em;
}

#formula {
  padding-top: 3.1rem;
  padding-bottom: 3.1rem;
  color: #000;
}

#formula h2 {
  font-size: 1.5em;
  letter-spacing: 0.07rem;
  margin-bottom: 2.3rem;
}

.formula-item {
  text-align: center;
  padding: 0.5rem;
}

.formula-item h3{
  font-size: 1.2em;
  padding-top: 1.2rem;
  line-height: 1.3rem;
}

.formula-item p{
  font-size: 1.2em;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

.formula-flecha {
  position: relative;
}

.formula-container > div > div > div {
  position: absolute;
  width: 100%;
  bottom: 0.8rem;
}

.formula-container > div:not(:first-child) > div > div:before {
  content: " ";
  position: absolute;
  left: -13px;
  width: 50%;
  height: 1px;
  background-color: #a7a8a9;
}

.formula-container > div:not(:last-child) > div > div:after {
  content: " ";
  position: absolute;
  right: -13px;
  width: 50%;
  height: 1px;
  background-color: #a7a8a9;
}

/* PROYECTOS */
#proyectos a {
  font-size: 1em;
}

/* CLIENTES */
.client-wrapper {
  height: 34rem;
  padding: 1rem;
}

#clientes .carousel-item, .carousel, .carousel-inner {
  width: 100%;
}

/* foto del cliente con el circulito */
img.cliente-imagen{
  border: solid #23afe1 5px;
  border-radius: 50%;
  height: 85px;
  width: 85px;
  margin-bottom: 1rem;
}

/* logo fijo */
img.cliente-logo{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.cliente-profile p {
  font-size: 1.2em;
}

.cliente-profile b {
  display: block;
  text-transform: uppercase;
}

.client-name {
  font-size: 1.1em;
}

/* CONTACTO */
.header {
  color: white;
  font-family: KelsonRegular;
  font-weight: 600;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}

.header h1 {
  padding: 0;
}

.header span {
  display: block;
}

.map-world {
  background-image: url("../img/worldmap.png");
  background-position: 0px 0px;
  height: 301px;
  display: block;
}

#map {
  height: 425px;
  width: 100%;
}

.map-globe {
  font-size: 1.3em;
}

.map-globe br{
  display: none;
}

.map-social a {
    font-size: 1.2em;
    margin-right: 0.5rem;
}

.map-social a:hover {
  text-decoration: none;
  opacity:0.7;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.map-social a.twitter {
  color: #53BBD8;
  font-size: 1.4em;
}

.map-social a.facebook {
  color: #226DBE;
  font-size: 1.4em;
}

.whatsapp {
  color: #2aa22d
}

.twitter {
  color: #53BBD8;
}

.facebook {
  color: #226DBE;
}

/* -------------
    articulos
----------------*/
.paragraph {
  font-size: 1.3em;
  padding: 3rem 4rem;
}

.paragraph h4 {
  font-size: 1em;
  color: #23AFE2;
  font-family: kelsonBold;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.paragraph h5 {
  font-size: 1em;
  color: #000;
  font-family: kelsonBold;
  padding-top: 1rem;
}

.paragraph span {
  display: block;
  line-height: 1.8rem;
}

.paragraph p {
  margin: 0;
  line-height: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
}

#content img {
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

 #contacto .paragraph img {
   display: inline
  }

/* -------------
      footer
----------------*/
#footer .container {
  padding: 3rem 4rem 0em 4em;
}

footer {
  letter-spacing: 1px;
}

footer b {
  font-family: kelsonBold;
  font-size: 1em;
}

footer p {
  margin: 0;
  display: inline-block;
}

footer span {
  color: rgb(131, 131, 131);
  letter-spacing: 0px;
  font-size: 0.9em;
}

.siguenos > div {
  margin-right: 0.5rem;
}

.siguenos a:hover {
  text-decoration: none;
  opacity:0.7;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.totop {
  width: 100%;
  padding-right: 4rem;
}

.totop-button{
  background: #23AFE2;
  width: 2.8rem;
  height: 2.5rem;
  color: white;
  padding-top: 0.5rem;
  text-align: center;
  border-radius: 5px;
  margin-top: 1rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.totop-button:hover{
  background: #1787B7;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

/* -------------
  media queries
----------------*/
/* caso especial en que el navbar se rompe */
@media (max-width: 1175px) and (min-width: 992px) {
  .navbar-social {
    display: none;
  }

  .sidenav-social {
    display: flex;
  }
}

/* para centrar el mapa */
@media (max-width: 1052px){
  .navbar-custom {
    padding: 1em 1em 1em 1em;
  }
  
  .map-world {
    background-position:1270px 0px;
  }
}

/* cuando se collapsa el menu de la navbar */
@media (max-width: 991px){
  #cover nav{
	background: #2C2B30
  }

  .carousel-caption {
    top: 30%;
    -webkit-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
            transform: translateY(-0%);
  }

  .navbar-regular {
    padding-bottom: 0.7rem;
  }

  .navbar-nav > li {
    margin-right: auto;
    margin-left: auto;
    height: 3rem;
  }

  #telefono {
    line-height: 1.5rem;
  }

  .collapse {
    padding-bottom: 2rem;
  }

  #menu, #mainMenu {
    display: none
  }

  .paragraph {
    padding: 3rem 1rem
  }

  .client-wrapper {
    overflow: auto;
  }
}

/* dispositivos moviles */
@media (max-width: 600px) {
  .navbar-nav {
    line-height: inherit;
  }

  .navbar-logo{
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-toggler{
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-caption h5{
    font-size: 2.8em;
  }

  .tag {
    font-size: 0.6em;
    padding: 0.4rem;
    width: 100%;
   }

  #proyectos .section-content {
    height: calc(100% - 9.5rem);
  }

  .fullvh {
    height: auto;
  }

  .almostfullvh {
    height: auto;
  }

  .map-world {
    background-position: 1150px 0px;
  }

  .map-globe br{
    display: block;
  }

  #footer .container {
    padding: 3rem 3rem
  }

  .box {
    width: 15rem;
  }
}

@media (max-width: 476px) {
  #proyectos .section-content {
    height: calc(100% - 13rem);
  }

  section h1 {
    font-size: 2em;
  }

  .carousel-caption {
    top: 0%;
    margin-top: 10rem
  }
}

/* responsive altura */
@media (max-height: 600px) {
  .carousel-caption h5{
    font-size: 2em;
    padding-top: 20px;
  }

  .navbar-nav > li {
    height: 2rem;
  }

  .fullvh {
    height: auto;
  }

  #cover, .hero, .carousel-item-big span {
    height: 40rem;
  }

  .almostfullvh {
    height: auto;
  }

  .main-wrapper {
    height: 20rem;
  }
}

@media (max-height: 350px) {
  .hero {
    display: block;
  }

  .carousel-caption h5{
    padding-top: 0;
  }

  .carousel-caption p{
    font-weight: bold;
    font-size: 0.8em;
  }
}

/* extra small stuff */
@media (max-width: 255px) {
  .section-content {
    height: calc(100% - 8.4rem);
  }

  #participamos .section-content {
    height: calc(100% - 8.3rem);
  }

  #proyectos .section-content {
    height: calc(100% - 10rem);
  }

  .map-world {
    background-position: 1015px 0px;
  }

  .subtitle-nav .subtitle-link {
    top: 60%;
  }

  section h3 {
    font-size: 1em;
  }

  section h4 {
    font-size: 0.8em;
  }

  section p, section span, .cliente-profile b {
    font-size: 0.8em;
  }

  .cliente-wrapper {
    padding: 0
  }
}